{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLS TV</title>
    <link rel="stylesheet"  href="{% static 'styles/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
            var start = new Date;

             setInterval(function() {
                $('#date').text(start.toDateString());
                $('#date').append( " "+ start.toLocaleString('en-US', { hour: 'numeric',minute:"2-digit", hour12: true })
)
            }, 1000);
    </script>
    
</head>
<body>
    <div class="Container">
        <div class="box1"> 
            Sponsored by: Akhil Jamal Memmorial Charitable Society(AJMCS) | Fireflies, SLS CUSAT
        </div>

        <div class="box2" id="images">

{#            <img src="images/h.png" alt="">#}

                        <div id="slideshow">
              <div id="slides" >
{#                  <div class="slide show" data-slide="1">#}
{#                      <img src="https://browsecat.net/sites/default/files/4k-ultra-high-resolution-nature-wallpapers-98587-255631-9768205.png"#}
{#                          alt="">#}
{#                  </div>#}

                  <div class="slide"  data-slide="2">
                      <img src="https://wallpaperaccess.com/full/31189.jpg" alt="">
                  </div>

{#                  <div class="slide" data-slide="3">#}
{#                      <img src="https://wallpapercave.com/wp/wp8975771.jpg" alt="">#}
{#                  </div>#}
{##}
{#                  <div class="slide" data-slide="4">#}
{#                      <img src="https://i.pinimg.com/originals/e6/90/5c/e6905c4ac56db067d3b265763af49d22.jpg" alt="">#}
{#                  </div>#}
{##}
{#                  <div class="slide" data-slide="5">#}
{#                      <img src="https://wallpaperaccess.com/full/1208210.jpg" alt="">#}
{#                  </div>#}


              </div>
                             <div class="slide-btn next">
                      <span>&raquo;</span>
                  </div>

                  <div class="slide-btn prev">
                      <span>&laquo;</span>
                  </div>
          </div>


        </div>




        <div class="box3">

            <div class="box3-sub1">
               <div class="box3-sub1-1">
                <span id="date"></span>
               </div>
               <div class="box3-sub1-2">
                School of legal studies
               </div>
            </div>
            <div class="box3-sub2">
               
               <div id="newsTicker">
                <p>
                  
                  <span class="section" id="news">
{#                    <span class="story"><span class="subheadings">നിയമവേദി@20 <span>-</span> </span>കൊച്ചിൻ യൂണിവേഴ്‌സിറ്റി ,  കുസാറ്റ് ലീഗൽ എയ്‌ഡ്‌  ക്ലിനിക്‌ , ജില്ലാ ലീഗൽ സർവീസസ് അതോറിറ്റി , ആകാശവാണി കൊച്ചി എഫ് എം എന്നിവയുടെ ആഭിമുഖ്യത്തിൽ ജൂൺ 9 വ്യാഴാഴ്ച്ച 2 മണി മുതൽ കുസാറ്റ് സെമിനാർ കോംപ്ലക്സ് ഹാളിൽ.... ഏവർക്കും സ്വാഗതം</span>#}
{#                    <!-- <span class="story"><span class="subheadings">Heading 2</span>explanation 2</span> #}
                    <span class="story"><span class="subheadings">Heading 3</span>explanation 3</span> 
                    <span class="story"><span class="subheadings">Heading 4</span>explanation 4</span> 
                    <span class="story"><span class="subheadings">Heading 5</span>explanation 5</span>  -->
                  </span>
                </p>
              </div>
            </div>
           
    </div>
    </div>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="./script.js"></script>
 <script src="{% static 'js/index.js' %}" ></script>    <!-- new addition -->
<script>
    $(document).ready(function (){
        setInterval(function(){
            $.ajax({
                type:'GET',
                url:"{% url 'data_index' %}",
                success:function(response){

                    $("#news").empty();
                    for (var key in response.users){
                        var temp = "<span class='story' ><span class='subheadings' >" + response.users[key].Title +"</span>" +response.users[key].Content+"</span>"
                        $("#news").append(temp);
                    }

                     $("#slides").empty();

                    for (var key in response.image){

                        {#var temp_img = "<img src='media/" + response.image[key].Photos + "'"+" alt=''>"#}
                        var temp_img = "<div class='slides' data-slide='4'><img src='media/"+ response.image[key].Photos +"'"+"alt=''></div>"

                        $("#slides").append(temp_img);
                        console.log(temp_img)
                    }
                },
                error: function(response){
                    alert(" No data Found")
                }
            })
        },1000);
    });
</script>



</body>

</html>

